{{#each this}}
<li class="film-item" data-id="{{id}}">
  <img class="film-img" src="{{poster_path}}" alt="{{title}}" data-id="{{id}}">
  <h3 class=" film-title" data-id="{{id}}">{{title}} </h3>
  <div class="film-text-box" data-id="{{id}}">
    <p class="film-genres" data-id="{{id}}">{{filmGenres}}</p>
    <p class="film-text-date film-genres" data-id="{{id}}">{{release_year}}</p>
    <p class="film-text-rating" data-id="{{id}}">{{vote_average}}</p>
  </div>
</li>
{{/each}}